/* mobile view  */
@media only screen and (max-width:576px) {

    /* nav responsive  start  */
    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo h1 {
        font-size: 2rem;
    }

    .nav_item {
        flex-direction: column;
        row-gap: 20px;
    }

    /* nav responsive  end  */
    /* baner  responsive */
    .banner_section {
        flex-direction: column;
        margin-top: 50px;

    }

    .goat_section {
        width: 80%;
        margin: auto;
        height: 50%;
    }

    .goat_section>h1 {
        font-size: 1rem;
    }

    .goat_section>p {
        font-size: 40px;
    }

    .play,
    .Download,
    .online {

        font-size: 10px;
        padding: 5px;

    }

    .primary_button {
        padding: 15px 20px;
    }

    .secendary_button {
        padding: 15px 20px;
    }

    .baner_main_img {
        width: 80%;
        margin: auto;

    }

    .baner_main_img img {
        width: 80%;
        margin: auto;
    }

    /* We_are_gamer */
    .We_are_gamer {
        flex-direction: column;

    }

    .We_are_gamer_img {
        width: 100%;

    }

    .We_are_gamer_img img {
        width: 100%;

    }

    .We_are_gamer_text {
        width: 90%;
        display: flex;
        flex-direction: column;

        justify-content: center;




    }

    /* Online Games Funny Videos   */
    .funny_video>h1 {
        font-size: 2rem;
        margin-bottom: 5px;
        text-align: center;
    }

    .funny_video>p {
        color: gray;
        font-size: 14px;
    }

    .videos {
        width: 90%;
        margin: auto;

        display: grid;

        grid-template-columns: 1fr;

    }

    .video img {
        width: 100%;
    }

    /* Play Instantly start */
    .Play_Instantly {
        flex-direction: column;
        width: 100%;

    }

    .Play_Instantly_text {
        width: 100%;

    }

    .Play_Instantly_text>h1 {
        margin-left: 50px;
        text-align: center;
    }

    .Play_Instantly_text>p {
        margin-left: 50px;
        text-align: center;
    }

    .Play_Instantly_img {
        width: 80%;
        margin: auto;

    }

    .img_one {

        width: 300px;

        height: 600px;

    }

    .img_two {
        position: absolute;
        top: 300px;
        left: -100px;
        width: 200px;
        height: 300px;

        z-index: 1;
    }

    /* Careers section */
    .Careers {
        flex-direction: column;
    }

    .careers_text {
        width: 80%;
        margin: auto;

    }

    .career_list {
        gap: 5px;
    }

    .careers_img {
        width: 100%;
        margin: auto;
    }

    /* gamer position  start */
    .Gamer_positions {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}

/* tablet view  */
@media only screen and (min-width:576px) and (max-width:768px) {

    /* nav responsive  start  */
    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo h1 {
        font-size: 3rem;
    }

    .nav_item {
        flex-direction: column;
        row-gap: 20px;
    }

    /* nav responsive  end  */
    /* banar responsiv  */
    .banner_section {
        flex-direction: column-reverse;
        margin-top: 350px;
        column-gap: 10px;

    }

    .goat_section {
        width: 80%;
        margin: auto;

    }

    .goat_section>h1 {
        font-size: 2rem;
        margin-top: 20px;
    }

    .goat_section>p {
        font-size: 50px;
    }

    .play,
    .Download,
    .online {

        font-size: 20px;
        padding: 5px;

    }

    .primary_button {
        padding: 20px 25px;
    }

    .secendary_button {
        padding: 20px 25px;
    }

    .baner_main_img {
        width: 80%;
        margin: auto;

    }

    .baner_main_img img {
        width: 100%;
        margin: auto;
    }

    /* We_are_gamer */
    .We_are_gamer {
        flex-direction: column-reverse;

    }

    .We_are_gamer_img {
        width: 100%;

    }

    .We_are_gamer_img img {
        width: 100%;

    }

    .We_are_gamer_text {
        width: 90%;
        display: flex;
        flex-direction: column;

        justify-content: center;




    }

    /* Online Games Funny Videos   */
    .funny_video>h1 {
        font-size: 2rem;
        margin-bottom: 5px;
        text-align: center;
    }

    .funny_video>p {
        color: gray;
        font-size: 14px;
    }

    .videos {
        width: 90%;
        margin: auto;

        display: grid;

        grid-template-columns: 1fr;

    }

    .video img {
        width: 100%;
    }
}