* {
    padding: 0px;
    margin: 0px;
}

/* google fount  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* nav style start  */
nav {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 40px;



}

.logo img {
    margin-right: 30px;
}

.logo h1 {
    font-size: 4rem;
}

.grident_color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_item {
    display: flex;
    margin-right: 40px;
    align-items: center;
}

.nav_item a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 20px;
    color: black;

}

.nav_item_icon,
.youtube i {
    color: red;

}

.nav_item_icon {
    background-color: rgba(236, 227, 227, 0.84);
    padding: 10px;
    border-radius: 5px;


}

/* nav style end  */
/* banar section style  start   */
.banner_section {
    display: flex;
    width: 100%;
    height: 100vh;
}

.goat_section {
    width: 50%;
    height: 100%;
    background-image: url(../images/Group\ 14.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goat_section>h1 {
    font-size: 3rem;
    color: black;
}

.goat_section>p {
    font-size: 96px;
    font-weight: bolder;
}

.play,
.Download,
.online {
    display: flex;
    gap: 10px;
    font-size: 20px;
    padding: 10px;
}


.baner_main_img {
    width: 50%;

}

.baner_main_img img {
    width: 80%;
    margin: auto;
}

.main_btn {
    display: flex;
    gap: 10px;
}

.primary_button {
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #F948B2;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.primary_button a,
.secendary_button a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.secendary_button {
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #4EC5F7;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* banar section style  end   */
/* We are gamer start   */
.We_are_gamer {
    display: flex;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.We_are_gamer_img {
    width: 50%;
}

.We_are_gamer_text {
    width: 50%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: right;
    padding: 10px;
    margin-right: 10px;
    gap: 5px;
}

.We_are_gamer_text>h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.We_are_gamer_text>p {
    color: gray;
}

/* We are gamer end   */
/* Online Games Funny Videos start */
.funny_video {
    text-align: center;
    margin-top: 30px;

}

.funny_video>h1 {
    font-size: 3rem;
    margin-bottom: 5px;
}

.funny_video>p {
    color: gray;
    margin-bottom: 20px;
}

.videos {
    width: 90%;
    margin: auto;
    gap: 5px;
    display: grid;

    grid-template-columns: repeat(4, 345px);

}

/* Online Games Funny Videos end */
/* Play Instantly start */
.Play_Instantly {
    display: flex;
    width: 100%;
}

.Play_Instantly_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Play_Instantly_text>h1 {
    font-size: 3rem;
}

.Play_Instantly_text>p {
    color: gray;
    font-size: 20px;
}

.Play_Instantly_img {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_one {
    width: 60%;
    margin: auto;
    height: 650px;
}

.img_two {
    position: absolute;
    top: 300px;
    left: -30px;
    width: 300px;
    height: 400px;

    z-index: 1;
}

/* Play Instantly end */
/* Careers section start  */
.Careers {
    display: flex;
    width: 100%;
    background-color: #F948B2;
    margin-top: 50px;
    margin-bottom: 40px;
}

.careers_text {
    width: 50%;
    margin-left: 30px;
}

.careers_text>h1 {
    color: white;
    font-size: 3rem;
    margin-top: 20px;

}

.careers_text>p {
    color: white;
    text-align: left;
    margin-bottom: 5px;
}

.career_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
}

.positions {
    background-color: white;

}

.positions a {
    color: black;
    font-weight: bolder;
    margin-top: 10px;
}

.careers_img {
    width: 50%;
}

.careers_img img {
    width: 100%;
}


/* Careers section end  */
/* gamer position  start */
.Gamer_positions {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.position {
    display: flex;
    align-items: center;
    gap: 10px;
    /* width: 200px; */
    border-radius: 48px;
    padding: 10px 5px;
}

.position:hover {
    border: 2px solid red;
    color: red;



}




/* gamer position  end */
/* footer section start  */
footer {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(4, 4, 68);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_footer {
    margin-top: 20px;
    font-size: 2rem;
}

.footer_manu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10px;
    justify-content: space-around;
}

.footer_manu a {
    text-decoration: none;
    color: white;

}

.footer_icon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.footer_icon>a i {
    color: white;
    font-size: 30px;
}

.footer_secent_manu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 20px;

    margin-bottom: 10px;

}

.sec a {
    text-decoration: none;
    color: gray;
    text-align: center;
}

.copy_rit {
    color: gray;
}

.copy_contener {
    display: flex;
}

/* footer section end  */